<div class="logo">
  <img src="../../../assets/logo.png" />
  <h1>Angular Aplication</h1>
</div>
<div class="options-logged" *ngIf="isLogged | async">
  {{username | async}}
  <button mat-fab extended color="primary"  (click)="logout()">
    <mat-icon class="exit-button">forward</mat-icon>
    Exit
  </button>
</div>
 <ng-container *ngIf="isLogged | async; else noLogged">
  <app-menu-private></app-menu-private>
</ng-container>
<ng-template #noLogged>
  <app-menu-public></app-menu-public>
</ng-template>