<div class="header">
  <div class="logo">
    <img src="../../../assets/earth.png" />
    <h1>Angular Mini Aplicación</h1>
  </div>
  <div class="options-logged" *ngIf="isLogged | async">
    {{ username | async }}

    <button
      mat-mini-fab
      color="primary"
      aria-label="Logout"
      (click)="logout()"
    >
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
</div>

<ng-container *ngIf="isLogged | async; else noLogged">
  <app-menu-private></app-menu-private>
</ng-container>
<ng-template #noLogged>
  <app-menu-public></app-menu-public>
</ng-template>
